/* Modification Fifi */

 .presentation {
     font-size: 22px;
     color: #686666;
     line-height: 2.5rem;
 }

 .italic {
     font-style: italic;
 }

h2 {
     text-align: center;
     font-size: 32px;
     color: black;
 }

 .title-bloc3 {
     color: white;
 }

 .fa-chevron-up {
    color: black;
 }

 .fifi-bold {
     color: black;
     font-weight: 800;
     font-size: 22px;
 }